:root{
    --cor-de-fundo: #4390C8;
    --cor-do-texto: #ffffff;
    --cor-do-cabeçalho: #53B5FC;
--vermelho:#0076d6;
}
body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:     "slnt" 0;
    background-color: var(--cor-de-fundo);
}

/* sssssõss */
header{
    display: flex;
    color: var(--cor-do-texto);
    background-color: var(--cor-do-cabeçalho);
    justify-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid var(--cor-do-texto);
    border-radius: 15px;
}
img{
    width: 30%;
}
.imagem{
width: 25%;
}
.apresentacao{
    display: flex;
    background-color: #53B5FC;
    border: 5px solid var(--cor-do-texto);
    margin: 20px;
}
#equipe{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    background-color: #53B5FC;
}
.foto-equipe{
    width: 40%;
}
.divisao-equipe{
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
}
footer{
    background-color: #4390C8;
    color: #ff0000;
}
header a{
    color: #ffffff;
    text-decoration:none;
}
