:root{
    --cor-de-fundo: orange;
    --cor-do-texto: #ffffff;

}
body{
    background-color: var(--cor-de-fundo);
}

/* sssssõss */
header{
    display: flex;
}
img{
    width: 30%;
}
.imagem{
width: 25%;
}
.apresentação{
    display: flex;
}