:root{
    --cor-de-fundo: orange;
    --cor-do-texto: #ffffff;
--vermelho:#fc0000;
}
body{
    background-color: var(--cor-de-fundo);
}

/* sssssõss */
header{
    display: flex;
}
img{
    width: 30%;
}
.imagem{
width: 25%;
}
.apresentacao{
    display: flex;
    background-color: #fc0000;
    border: 5px solid var(--cor-do-texto);
    margin: 20px;
}